html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}/*全局样式*/

input,textarea,select
{
    font-family: 'Arimo', sans-serif;
    font-size: 11pt;
    line-height: 1.75em;
    color: #4c4c4c;
}

h1,h2,h3,h4,h5,h6
{
    text-transform: uppercase;
    font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
{
    color: inherit;
    text-decoration: none;
}

/* Change this to whatever font weight/color pairing is most suitable */
strong, b
{
    font-weight: bold;
    color: #000000;
}

em, i
{
    font-style: italic;
}

/* Don't forget to set this to something that matches the design */
a
{
    text-decoration: underline;
    color: #272727;
}

a:hover
{
    text-decoration: none;
}

sub
{
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup
{
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

hr
{
    border: 0;
    border-top: solid 1px #ddd;
}

blockquote
{
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}

p, ul, ol, dl, table
{
    margin-bottom: 1em;
}

header
{
    margin-bottom: 1em;
}

header h2
{
}

header .byline
{
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0 0 0.5em 0;
}

footer
{
    margin-top: 1em;
}

br.clear
{
    clear: both;
}

/* Sections/Articles */

section,
article
{
    margin-bottom: 3em;
}

section > :last-child,
article > :last-child
{
    margin-bottom: 0;
}

section:last-child,
article:last-child
{
    margin-bottom: 0;
}

.row > section,
.row > article
{
    margin-bottom: 0;
}

/* Images */

.image
{
    display: inline-block;
}

.image img
{
    display: block;
    width: 100%;
}

.image.featured
{
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image.full
{
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image.left
{
    float: left;
    margin: 0 2em 2em 0;
}

.image.centered
{
    display: block;
    margin: 0 0 2em 0;
}

.image.centered img
{
    margin: 0 auto;
    width: auto;
}

#sidebar h2 {
    display: block;
    padding-bottom: 2em;
    font-size: 1.4em;
}
/* Lists */

ul.default
{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.default li
{
    padding: 0.60em 0em;
    border-top: 1px solid;
    border-color: rgba(255,255,255,.1);
}

ul.default li:first-child
{
    padding-top: 0;
    border-top: none;
}

ul.default a
{
    text-decoration: none;
    color: rgba(255,255,255,.5);
}

ul.default a:hover
{
    text-decoration: underline;
}

ul.style {
}

ul.style li {
    margin: 0;
    padding: 2em 0em 1.5em 0em;
    border-top: 1px solid #ECECEC;
}

ul.style li:first-child
{
    padding-top: 0;
    border-top: none;
}

ul.style img {
    float: left;
    margin-right: 20px;
}

ul.style p {
}

ul.style .posted {
    padding: 0em 0em 1em 0em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 8pt;
    color: #A2A2A2;
}

ul.style .first {
    padding-top: 0px;
    border-top: none;
}


/* Buttons */

.button
{
    position: relative;
    display: inline-block;
    margin-top: 2em;
    padding: 0.90em 1.5em;
    background: #e95d3c;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #FFF;
    -moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    cursor: pointer;
}

.button:hover
{
    background: #de3d27;
    color: #FFF !important;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/


#logo
{
}

#nav
{
}

#nav ul
{
    margin: 0;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner
{
    position: relative;
    background: #333;
    color: #fff;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main
{
    position: relative;
    background: #fff;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured
{
    position: relative;
    background: #f2f2f2;
    padding: 6em 0em;
}

#featured h2
{
    display: block;
    margin-bottom: 2em;
    font-size: 1.4em;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer
{
    position: relative;
    background: #1d1d1d;
}

#footer h2
{
    display: block;
    color: #FFF;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright
{
    position: relative;
    padding: 3em 0em;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(255,255,255,.2);
}

#copyright .container
{
}

#copyright a
{
    text-decoration: none;
    color: rgba(255,255,255,.3);
}
.row > * {
    padding: 50px 0 0 50px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.row + .row > * {
    padding-top: 50px;
}

.row {
    margin-left: -50px;
}

/* Rows */

.row:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.row:first-child > * {
    padding-top: 0 !important;
}

.row > * {
    padding-top: 0;
}

/* Modifiers */

/* Flush */

.row.flush {
    margin-left: 0;
}

.row.flush > * {
    padding: 0 !important;
}

/* Quarter */

.row.quarter > * {
    padding: 12.5px 0 0 12.5px;
}

.row.quarter + .row.quarter > * {
    padding-top: 12.5px;
}

.row.quarter {
    margin-left: -12.5px;
}

/* Half */

.row.half > * {
    padding: 25px 0 0 25px;
}

.row.half + .row.half > * {
    padding-top: 25px;
}

.row.half {
    margin-left: -25px;
}

/* One and (a) Half */

.row.oneandhalf > * {
    padding: 75px 0 0 75px;
}

.row.oneandhalf + .row.oneandhalf > * {
    padding-top: 75px;
}

.row.oneandhalf {
    margin-left: -75px;
}

/* Double */

.row.double > * {
    padding: 100px 0 0 100px;
}

.row.double + .row.double > * {
    padding-top: 100px;
}

.row.double {
    margin-left: -100px;
}

/* Container */

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Modifiers */

.container.small {
    width: 900px;
}

.container.big {
    width: 100%;
    max-width: 1500px;
    min-width: 1200px;
}
/* Cells */

.\31 u {
    width: 100%
}

.\31 u {
    width: 91.6666666667%
}

.\31 u {
    width: 83.3333333333%
}

.\39 u {
    width: 75%
}

.\38 u {
    width: 66.6666666667%
}

.\37 u {
    width: 58.3333333333%
}

.\36 u {
    width: 50%
}

.\35 u {
    width: 41.6666666667%
}

.\34 u {
    width: 33.3333333333%
}

.\33 u {
    width: 25%
}

.\32 u {
    width: 16.6666666667%
}

.\31 u {
    width: 8.3333333333%
}

.\-11u {
    margin-left: 91.6666666667%
}

.\-10u {
    margin-left: 83.3333333333%
}

.\-9u {
    margin-left: 75%
}

.\-8u {
    margin-left: 66.6666666667%
}

.\-7u {
    margin-left: 58.3333333333%
}

.\-6u {
    margin-left: 50%
}

.\-5u {
    margin-left: 41.6666666667%
}

.\-4u {
    margin-left: 33.3333333333%
}

.\-3u {
    margin-left: 25%
}

.\-2u {
    margin-left: 16.6666666667%
}

.\-1u {
    margin-left: 8.3333333333%
}


/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main {
    padding: 6em 0em 4em 0em;
}

#main {
    position: relative;
    background: #fff;
}

